/* BBCode toolbar
----------------------------------------------------------------*/

#bbcodewrapper IMG {
	border: 0;
}
#bbcodewrapper {
	padding: 0 2em 0 0;
	position: relative;
	overflow: hidden;
}
#bbcodewrapper A {
	display: block;
	float: left;
	padding-right: 4px;
}
#bbcodebuttons {
	float: left;
}
#bbcodesmilies {
	float: right;
}

/* Moderator's warnings
----------------------------------------------------------------*/
.pun .postwarn {
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: #e99;
	margin: 0.75em 1em 0.75em 2em;
	padding: 0 0.75em;
}
.pun .postwarn cite {
	font-weight: bold;
}	

.pun .postwarn:before {
	content: "M";
	position: absolute;
	margin-left: -2em;
	font-size: 150%;
	font-weight: bold;
	color: #e99;
}
