/* ---------- BBCODE TOOLBAR ------------- */
#bbcodewrapper IMG {
	border: 0;
}
#bbcodewrapper {
	padding: 0 2em 0 0;
	position: relative;
	overflow: hidden;
}
#bbcodewrapper A {
	display: block;
	float: left;
	padding-right: 4px;
}
#bbcodebuttons {
	float: left;
}
#bbcodesmilies {
	float: right;
}
